---
# Only the main Sass file needs front matter (the dashes are enough)
---

// $type-size-1 : 2.441em;
// $type-size-2 : 1.953em;
// $type-size-3 : 1.563em;
// $type-size-4 : 1.25em;
// $type-size-5 : 1em;
// $type-size-6 : 0.75em;
// $type-size-7 : 0.6875em;
// $type-size-8 : 0.625em;

// $type-size-1: 1.953em;
// $type-size-2: 1.563em;
// $type-size-3: 1.25em;
// $type-size-4: 1em;
// $type-size-5: 0.75em;
// $type-size-6: 0.6875em;
// $type-size-7: 0.625em;
// $type-size-8: 0.568em;

$base00: #ffffff;
$base01: #e0e0e0;
$base02: #d0d0d0;
$base03: #b0b0b0;
$base04: #000000;
$base05: #101010;
$base06: #151515;
$base07: #202020;
$base08: #ff0086;
$base09: #fd8900;
$base0a: #aba800;
$base0b: #00c918;
$base0c: #1faaaa;
$base0d: #3777e6;
$base0e: #ad00a1;
$base0f: #cc6633;
 
@import "minimal-mistakes";

.page * {
  font-size: 10px;

  @include breakpoint($medium) {
    font-size: 12px;
  }

  @include breakpoint($large) {
    font-size: 14px;
  }

  @include breakpoint($x-large) {
    font-size: 16px;
  }
}

.page__content p {
   margin-bottom: 1.0em;
}

.highlight {
   line-height: 1.0;
   margin-top: -1.0em;
}

.site-title {
   display: none;
}

.visible-links {
   justify: center;
}
