// $type-size-1 : 2.441em;
// $type-size-2 : 1.953em;
// $type-size-3 : 1.563em;
// $type-size-4 : 1.25em;
// $type-size-5 : 1em;
// $type-size-6 : 0.75em;
// $type-size-7 : 0.6875em;
// $type-size-8 : 0.625em;

$type-size-1: 1.953em;
$type-size-2: 1.563em;
$type-size-3: 1.25em;
$type-size-4: 1em;
$type-size-5: 0.75em;
$type-size-6: 0.6875em;
$type-size-7: 0.625em;
$type-size-8: 0.568em;
 
@import "minimal-mistakes";

html {
  font-size: 10px;

  @include breakpoint($medium) {
    font-size: 12px;
  }

  @include breakpoint($large) {
    font-size: 14px;
  }

  @include breakpoint($x-large) {
    font-size: 16px;
  }
}
